@import 'variables';
@import 'vendor/normalize.css';
@import 'vendor/main.css';

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  background-color: $body-bg;
  color: $base-color;
  font-family: $font-family;
  padding: $body-padding;
}

.sample-image {
  background: url('../assets/img/1.jpg') center center no-repeat;
  background-size: cover;
  height: 200px;
  width: 200px;
}
